.button {
    width: 45px;
    height: 45px;
    background: #dcdcdc;
    border: 3px solid rgb(190, 188, 188);
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 0px;
    top: 580;
    border-radius: 50%;
    color: #dcdcdc;
}